#table {
    display: inline-block;
    align-items: center;
}

#plus_btn,
#check_btn {
    margin-right: 10px;
}

#title_1,
#title_2 {
    border: none; /* 테두리 제거 */
    text-align: center; /* 글자 중앙 정렬 */
    font-weight: bold; /* 볼드체 */
    text-transform: uppercase;
}
